.page-preview,
  .runner-pagewrapper .page-preview,
  .runner-pagewrapper .runner-pagewrapper .page-preview
{
padding-top:10px; padding-left:10px;
}
.page-preview .runner-c-search,
  .runner-pagewrapper .page-preview .runner-c-search,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-c-search
{
margin-bottom:5px;
}
.page-preview .runner-c-search,
  .runner-pagewrapper .page-preview .runner-c-search,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-c-search
{
width:500px;
}
body.page-preview .runner-c-search
{
margin-left:auto; margin-right:auto;
}
.page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader,
.page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader > *,
  .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader,
  .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader > *
{
white-space: nowrap;
}
.page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader,
.page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader > *,
  .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader,
  .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchheader, .page-preview .runner-b-srchheader > *
{
text-align: left;
}
.page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions,
.page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions > *,
  .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions,
  .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions > *
{
white-space: nowrap;
}
.page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions,
.page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions > *,
  .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions,
  .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchconditions, .page-preview .runner-b-srchconditions > *
{
text-align: left;
}
.page-preview .runner-c-fields,
  .runner-pagewrapper .page-preview .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-c-fields
{
margin-bottom:5px;
}
.page-preview .runner-c-fields,
  .runner-pagewrapper .page-preview .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-c-fields
{
width:100%;
}
.page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields,
.page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields > *,
  .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields,
  .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields > *
{
white-space: nowrap;
}
.page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields,
.page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields > *,
  .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields,
  .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchfields, .page-preview .runner-b-srchfields > *
{
text-align: left;
}
.page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons,
.page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons > *,
  .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons,
  .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons > *
{
white-space: nowrap;
}
.page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons,
.page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons > *,
  .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons,
  .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-preview .runner-b-srchbuttons, .page-preview .runner-b-srchbuttons > *
{
text-align: left;
}
body.page-preview .runner-toptable
{
width:100%;
}
body.page-preview .runner-top
{
padding-right: 5px;
}
