.page-add2,
  .runner-pagewrapper .page-add2,
  .runner-pagewrapper .runner-pagewrapper .page-add2
{
padding-top:10px; padding-left:10px;
}
.page-add2 .runner-c-add,
  .runner-pagewrapper .page-add2 .runner-c-add,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-c-add
{
margin-bottom:5px;
}
.page-add2 .runner-c-add,
  .runner-pagewrapper .page-add2 .runner-c-add,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-c-add
{
width:500px;
}
body.page-add2 .runner-c-add
{
margin-left:auto; margin-right:auto;
}
.page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader,
.page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader > *,
  .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader,
  .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader > *
{
white-space: nowrap;
}
.page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader,
.page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader > *,
  .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader,
  .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addheader, .page-add2 .runner-b-addheader > *
{
text-align: right;
}
.page-add2 .runner-b-message, .page-add2 .runner-b-message,
.page-add2 .runner-b-message, .page-add2 .runner-b-message > *,
  .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message,
  .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message > *
{
white-space: nowrap;
}
.page-add2 .runner-b-message, .page-add2 .runner-b-message,
.page-add2 .runner-b-message, .page-add2 .runner-b-message > *,
  .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message,
  .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-message, .page-add2 .runner-b-message > *
{
text-align: right;
}
.page-add2 .runner-c-fields,
  .runner-pagewrapper .page-add2 .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-c-fields
{
margin-bottom:5px;
}
.page-add2 .runner-c-fields,
  .runner-pagewrapper .page-add2 .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-c-fields
{
width:100%;
}
.page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields,
.page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields > *,
  .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields,
  .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields > *
{
white-space: nowrap;
}
.page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields,
.page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields > *,
  .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields,
  .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addfields, .page-add2 .runner-b-addfields > *
{
text-align: right;
}
.page-add2 .runner-b-legend, .page-add2 .runner-b-legend,
.page-add2 .runner-b-legend, .page-add2 .runner-b-legend > *,
  .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend,
  .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend > *
{
white-space: nowrap;
}
.page-add2 .runner-b-legend, .page-add2 .runner-b-legend,
.page-add2 .runner-b-legend, .page-add2 .runner-b-legend > *,
  .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend,
  .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-legend, .page-add2 .runner-b-legend > *
{
text-align: right;
}
.page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons,
.page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons > *,
  .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons,
  .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons > *
{
white-space: nowrap;
}
.page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons,
.page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons > *,
  .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons,
  .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-addbuttons, .page-add2 .runner-b-addbuttons > *
{
text-align: right;
}
.page-add2 .runner-c-details,
  .runner-pagewrapper .page-add2 .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-c-details
{
margin-bottom:5px;
}
.page-add2 .runner-c-details,
  .runner-pagewrapper .page-add2 .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-c-details
{
width:500px;
}
.page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails,
.page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails > *,
  .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails,
  .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails > *
{
white-space: nowrap;
}
.page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails,
.page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails > *,
  .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails,
  .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails,
  .runner-pagewrapper .runner-pagewrapper .page-add2 .runner-b-adddetails, .page-add2 .runner-b-adddetails > *
{
text-align: right;
}
body.page-add2 .runner-toptable
{
width:100%;
}
body.page-add2 .runner-top
{
padding-right: 5px;
}
