.page-view2,
  .runner-pagewrapper .page-view2,
  .runner-pagewrapper .runner-pagewrapper .page-view2
{
padding-top:10px; padding-left:10px;
}
.page-view2 .runner-c-pdf,
  .runner-pagewrapper .page-view2 .runner-c-pdf,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-pdf
{
margin-bottom:5px;
}
.page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf,
.page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf > *,
  .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf,
  .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf > *
{
white-space: nowrap;
}
.page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf,
.page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf > *,
  .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf,
  .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewpdf, .page-view2 .runner-b-viewpdf > *
{
text-align: right;
}
.page-view2 .runner-c-view,
  .runner-pagewrapper .page-view2 .runner-c-view,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-view
{
margin-bottom:5px;
}
.page-view2 .runner-c-view,
  .runner-pagewrapper .page-view2 .runner-c-view,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-view
{
width:500px;
}
body.page-view2 .runner-c-view
{
margin-left:auto; margin-right:auto;
}
.page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader,
.page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader > *,
  .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader,
  .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader > *
{
white-space: nowrap;
}
.page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader,
.page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader > *,
  .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader,
  .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewheader, .page-view2 .runner-b-viewheader > *
{
text-align: right;
}
.page-view2 .runner-c-fields,
  .runner-pagewrapper .page-view2 .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-fields
{
margin-bottom:5px;
}
.page-view2 .runner-c-fields,
  .runner-pagewrapper .page-view2 .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-fields
{
width:100%;
}
.page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields,
.page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields > *,
  .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields,
  .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields > *
{
white-space: normal;
}
.page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields,
.page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields > *,
  .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields,
  .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewfields, .page-view2 .runner-b-viewfields > *
{
text-align: right;
}
.page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons,
.page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons > *,
  .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons,
  .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons > *
{
white-space: nowrap;
}
.page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons,
.page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons > *,
  .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons,
  .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewbuttons, .page-view2 .runner-b-viewbuttons > *
{
text-align: right;
}
.page-view2 .runner-c-details,
  .runner-pagewrapper .page-view2 .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-details
{
margin-bottom:5px;
}
.page-view2 .runner-c-details,
  .runner-pagewrapper .page-view2 .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-c-details
{
width:500px;
}
.page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails,
.page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails > *,
  .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails,
  .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails > *
{
white-space: nowrap;
}
.page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails,
.page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails > *,
  .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails,
  .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails,
  .runner-pagewrapper .runner-pagewrapper .page-view2 .runner-b-viewdetails, .page-view2 .runner-b-viewdetails > *
{
text-align: right;
}
body.page-view2 .runner-toptable
{
width:100%;
}
body.page-view2 .runner-top
{
padding-right: 5px;
}
