<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Componenthistory</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN ComponentNo_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ComponentNo_fieldheader}
	<b>Component No</b>
	{END ComponentNo_fieldheader}
</th>
{END ComponentNo_fieldheadercolumn}
	{BEGIN EngName_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN EngName_fieldheader}
	<b>Eng Name</b>
	{END EngName_fieldheader}
</th>
{END EngName_fieldheadercolumn}
	{BEGIN ThaiName_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ThaiName_fieldheader}
	<b>Thai Name</b>
	{END ThaiName_fieldheader}
</th>
{END ThaiName_fieldheadercolumn}
	{BEGIN DescriptionEng_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DescriptionEng_fieldheader}
	<b>Description Eng</b>
	{END DescriptionEng_fieldheader}
</th>
{END DescriptionEng_fieldheadercolumn}
	{BEGIN DescriptionThai_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DescriptionThai_fieldheader}
	<b>Description Thai</b>
	{END DescriptionThai_fieldheader}
</th>
{END DescriptionThai_fieldheadercolumn}
	{BEGIN CompTypeNo_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CompTypeNo_fieldheader}
	<b>Comp Type No</b>
	{END CompTypeNo_fieldheader}
</th>
{END CompTypeNo_fieldheadercolumn}
	{BEGIN UnitEng_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN UnitEng_fieldheader}
	<b>Unit Eng</b>
	{END UnitEng_fieldheader}
</th>
{END UnitEng_fieldheadercolumn}
	{BEGIN UnitQty_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN UnitQty_fieldheader}
	<b>Unit Qty</b>
	{END UnitQty_fieldheader}
</th>
{END UnitQty_fieldheadercolumn}
	{BEGIN CompPurchaseUnitEn_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CompPurchaseUnitEn_fieldheader}
	<b>Comp Purchase Unit En</b>
	{END CompPurchaseUnitEn_fieldheader}
</th>
{END CompPurchaseUnitEn_fieldheadercolumn}
	{BEGIN Cost_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Cost_fieldheader}
	<b>Cost</b>
	{END Cost_fieldheader}
</th>
{END Cost_fieldheadercolumn}
	{BEGIN Density_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Density_fieldheader}
	<b>Density</b>
	{END Density_fieldheader}
</th>
{END Density_fieldheadercolumn}
	{BEGIN Source_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Source_fieldheader}
	<b>Source</b>
	{END Source_fieldheader}
</th>
{END Source_fieldheadercolumn}
	{BEGIN SortOrder_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN SortOrder_fieldheader}
	<b>Sort Order</b>
	{END SortOrder_fieldheader}
</th>
{END SortOrder_fieldheadercolumn}
	{BEGIN ChangeType_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ChangeType_fieldheader}
	<b>Change Type</b>
	{END ChangeType_fieldheader}
</th>
{END ChangeType_fieldheadercolumn}
	{BEGIN ChangeDate_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ChangeDate_fieldheader}
	<b>Change Date</b>
	{END ChangeDate_fieldheader}
</th>
{END ChangeDate_fieldheadercolumn}
	{BEGIN ChangeTime_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ChangeTime_fieldheader}
	<b>Change Time</b>
	{END ChangeTime_fieldheader}
</th>
{END ChangeTime_fieldheadercolumn}
	{BEGIN SorOrder_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN SorOrder_fieldheader}
	<b>Sor Order</b>
	{END SorOrder_fieldheader}
</th>
{END SorOrder_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN ComponentNo_fieldcolumn}
<td  class="runner-cc {$ComponentNo_class}" {$ComponentNo_style}>
	{$ComponentNo_value}
</td>
{END ComponentNo_fieldcolumn}
	{BEGIN EngName_fieldcolumn}
<td  class="runner-cc {$EngName_class}" {$EngName_style}>
	{$EngName_value}
</td>
{END EngName_fieldcolumn}
	{BEGIN ThaiName_fieldcolumn}
<td  class="runner-cc {$ThaiName_class}" {$ThaiName_style}>
	{$ThaiName_value}
</td>
{END ThaiName_fieldcolumn}
	{BEGIN DescriptionEng_fieldcolumn}
<td  class="runner-cc {$DescriptionEng_class}" {$DescriptionEng_style}>
	{$DescriptionEng_value}
</td>
{END DescriptionEng_fieldcolumn}
	{BEGIN DescriptionThai_fieldcolumn}
<td  class="runner-cc {$DescriptionThai_class}" {$DescriptionThai_style}>
	{$DescriptionThai_value}
</td>
{END DescriptionThai_fieldcolumn}
	{BEGIN CompTypeNo_fieldcolumn}
<td  class="runner-cc {$CompTypeNo_class}" {$CompTypeNo_style}>
	{$CompTypeNo_value}
</td>
{END CompTypeNo_fieldcolumn}
	{BEGIN UnitEng_fieldcolumn}
<td  class="runner-cc {$UnitEng_class}" {$UnitEng_style}>
	{$UnitEng_value}
</td>
{END UnitEng_fieldcolumn}
	{BEGIN UnitQty_fieldcolumn}
<td  class="runner-cc {$UnitQty_class}" {$UnitQty_style}>
	{$UnitQty_value}
</td>
{END UnitQty_fieldcolumn}
	{BEGIN CompPurchaseUnitEn_fieldcolumn}
<td  class="runner-cc {$CompPurchaseUnitEn_class}" {$CompPurchaseUnitEn_style}>
	{$CompPurchaseUnitEn_value}
</td>
{END CompPurchaseUnitEn_fieldcolumn}
	{BEGIN Cost_fieldcolumn}
<td  class="runner-cc {$Cost_class}" {$Cost_style}>
	{$Cost_value}
</td>
{END Cost_fieldcolumn}
	{BEGIN Density_fieldcolumn}
<td  class="runner-cc {$Density_class}" {$Density_style}>
	{$Density_value}
</td>
{END Density_fieldcolumn}
	{BEGIN Source_fieldcolumn}
<td  class="runner-cc {$Source_class}" {$Source_style}>
	{$Source_value}
</td>
{END Source_fieldcolumn}
	{BEGIN SortOrder_fieldcolumn}
<td  class="runner-cc {$SortOrder_class}" {$SortOrder_style}>
	{$SortOrder_value}
</td>
{END SortOrder_fieldcolumn}
	{BEGIN ChangeType_fieldcolumn}
<td  class="runner-cc {$ChangeType_class}" {$ChangeType_style}>
	{$ChangeType_value}
</td>
{END ChangeType_fieldcolumn}
	{BEGIN ChangeDate_fieldcolumn}
<td  class="runner-cc {$ChangeDate_class}" {$ChangeDate_style}>
	{$ChangeDate_value}
</td>
{END ChangeDate_fieldcolumn}
	{BEGIN ChangeTime_fieldcolumn}
<td  class="runner-cc {$ChangeTime_class}" {$ChangeTime_style}>
	{$ChangeTime_value}
</td>
{END ChangeTime_fieldcolumn}
	{BEGIN SorOrder_fieldcolumn}
<td  class="runner-cc {$SorOrder_class}" {$SorOrder_style}>
	{$SorOrder_value}
</td>
{END SorOrder_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN ComponentNo_fieldfootercolumn}
<td class="runner-cc "></td>
{END ComponentNo_fieldfootercolumn}
{BEGIN EngName_fieldfootercolumn}
<td class="runner-cc "></td>
{END EngName_fieldfootercolumn}
{BEGIN ThaiName_fieldfootercolumn}
<td class="runner-cc "></td>
{END ThaiName_fieldfootercolumn}
{BEGIN DescriptionEng_fieldfootercolumn}
<td class="runner-cc "></td>
{END DescriptionEng_fieldfootercolumn}
{BEGIN DescriptionThai_fieldfootercolumn}
<td class="runner-cc "></td>
{END DescriptionThai_fieldfootercolumn}
{BEGIN CompTypeNo_fieldfootercolumn}
<td class="runner-cc "></td>
{END CompTypeNo_fieldfootercolumn}
{BEGIN UnitEng_fieldfootercolumn}
<td class="runner-cc "></td>
{END UnitEng_fieldfootercolumn}
{BEGIN UnitQty_fieldfootercolumn}
<td class="runner-cc "></td>
{END UnitQty_fieldfootercolumn}
{BEGIN CompPurchaseUnitEn_fieldfootercolumn}
<td class="runner-cc "></td>
{END CompPurchaseUnitEn_fieldfootercolumn}
{BEGIN Cost_fieldfootercolumn}
<td class="runner-cc "></td>
{END Cost_fieldfootercolumn}
{BEGIN Density_fieldfootercolumn}
<td class="runner-cc "></td>
{END Density_fieldfootercolumn}
{BEGIN Source_fieldfootercolumn}
<td class="runner-cc "></td>
{END Source_fieldfootercolumn}
{BEGIN SortOrder_fieldfootercolumn}
<td class="runner-cc "></td>
{END SortOrder_fieldfootercolumn}
{BEGIN ChangeType_fieldfootercolumn}
<td class="runner-cc "></td>
{END ChangeType_fieldfootercolumn}
{BEGIN ChangeDate_fieldfootercolumn}
<td class="runner-cc "></td>
{END ChangeDate_fieldfootercolumn}
{BEGIN ChangeTime_fieldfootercolumn}
<td class="runner-cc "></td>
{END ChangeTime_fieldfootercolumn}
{BEGIN SorOrder_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END SorOrder_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
