<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="EngName">
	{$EngName_editcontrol}
	</control>
	<control field="ThaiName">
	{$ThaiName_editcontrol}
	</control>
	<control field="DescriptionEng">
	{$DescriptionEng_editcontrol}
	</control>
	<control field="DescriptionThai">
	{$DescriptionThai_editcontrol}
	</control>
	<control field="CompTypeNo">
	{$CompTypeNo_editcontrol}
	</control>
	<control field="UnitEng">
	{$UnitEng_editcontrol}
	</control>
	<control field="UnitQty">
	{$UnitQty_editcontrol}
	</control>
	<control field="CompPurchaseUnitEn">
	{$CompPurchaseUnitEn_editcontrol}
	</control>
	<control field="Cost">
	{$Cost_editcontrol}
	</control>
	<control field="PriceSell">
	{$PriceSell_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>