<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ProdGrpCode">
	{$ProdGrpCode_editcontrol}
	</control>
	<control 
	field="Interest">
	{$Interest_editcontrol}
	</control>
	<control 
	field="Period">
	{$Period_editcontrol}
	</control>
	<control 
	field="DownPay">
	{$DownPay_editcontrol}
	</control>
	<control 
	field="DaysWorked">
	{$DaysWorked_editcontrol}
	</control>
	<control 
	field="Qty">
	{$Qty_editcontrol}
	</control>
	<control 
	field="MonthsOfCap">
	{$MonthsOfCap_editcontrol}
	</control>
	<control 
	field="Waste">
	{$Waste_editcontrol}
	</control>
	<control 
	field="Maint">
	{$Maint_editcontrol}
	</control>
	<control 
	field="Admin">
	{$Admin_editcontrol}
	</control>
	<control 
	field="Mgr">
	{$Mgr_editcontrol}
	</control>
	<control 
	field="Clerk">
	{$Clerk_editcontrol}
	</control>
	<control 
	field="Notes">
	{$Notes_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
