<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Costmodel, View record [
Prod Grp Code: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN ProdGrpCode_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ProdGrpCode {$fielddispclass_ProdGrpCode}">
			<b>Prod Grp Code</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ProdGrpCode {$fielddispclass_ProdGrpCode}">
			{$ProdGrpCode_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END ProdGrpCode_fieldblock}
	{BEGIN Interest_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Interest {$fielddispclass_Interest}">
			<b>Interest</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Interest {$fielddispclass_Interest}">
			{$Interest_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Interest_fieldblock}
	{BEGIN Period_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Period {$fielddispclass_Period}">
			<b>Period</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Period {$fielddispclass_Period}">
			{$Period_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Period_fieldblock}
	{BEGIN DownPay_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_DownPay {$fielddispclass_DownPay}">
			<b>Down Pay</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_DownPay {$fielddispclass_DownPay}">
			{$DownPay_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END DownPay_fieldblock}
	{BEGIN DaysWorked_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_DaysWorked {$fielddispclass_DaysWorked}">
			<b>Days Worked</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_DaysWorked {$fielddispclass_DaysWorked}">
			{$DaysWorked_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END DaysWorked_fieldblock}
	{BEGIN Qty_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Qty {$fielddispclass_Qty}">
			<b>Qty</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Qty {$fielddispclass_Qty}">
			{$Qty_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Qty_fieldblock}
	{BEGIN MonthsOfCap_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_MonthsOfCap {$fielddispclass_MonthsOfCap}">
			<b>Months Of Cap</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_MonthsOfCap {$fielddispclass_MonthsOfCap}">
			{$MonthsOfCap_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END MonthsOfCap_fieldblock}
	{BEGIN Waste_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Waste {$fielddispclass_Waste}">
			<b>Waste</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Waste {$fielddispclass_Waste}">
			{$Waste_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Waste_fieldblock}
	{BEGIN Maint_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Maint {$fielddispclass_Maint}">
			<b>Maint</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Maint {$fielddispclass_Maint}">
			{$Maint_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Maint_fieldblock}
	{BEGIN Admin_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Admin {$fielddispclass_Admin}">
			<b>Admin</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Admin {$fielddispclass_Admin}">
			{$Admin_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Admin_fieldblock}
	{BEGIN Mgr_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Mgr {$fielddispclass_Mgr}">
			<b>Mgr</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Mgr {$fielddispclass_Mgr}">
			{$Mgr_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Mgr_fieldblock}
	{BEGIN Clerk_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Clerk {$fielddispclass_Clerk}">
			<b>Clerk</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Clerk {$fielddispclass_Clerk}">
			{$Clerk_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Clerk_fieldblock}
	{BEGIN Notes_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Notes {$fielddispclass_Notes}">
			<b>Notes</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Notes {$fielddispclass_Notes}">
			{$Notes_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Notes_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
