<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Mix - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN MixNo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MixNo {$fielddispclass_MixNo}">
				Mix No
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MixNo {$fielddispclass_MixNo}">
			<input type="checkbox" {$MixNo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MixNo {$fielddispclass_MixNo}">
			{$searchtype_MixNo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MixNo {$fielddispclass_MixNo}">
			{$MixNo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MixNo {$fielddispclass_MixNo}">
			{$MixNo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END MixNo_fieldblock}
	{BEGIN ComponentNo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ComponentNo {$fielddispclass_ComponentNo}">
				Component No
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ComponentNo {$fielddispclass_ComponentNo}">
			<input type="checkbox" {$ComponentNo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ComponentNo {$fielddispclass_ComponentNo}">
			{$searchtype_ComponentNo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ComponentNo {$fielddispclass_ComponentNo}">
			{$ComponentNo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ComponentNo {$fielddispclass_ComponentNo}">
			{$ComponentNo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ComponentNo_fieldblock}
	{BEGIN Qtty_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Qtty {$fielddispclass_Qtty}">
				Qtty
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Qtty {$fielddispclass_Qtty}">
			<input type="checkbox" {$Qtty_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Qtty {$fielddispclass_Qtty}">
			{$searchtype_Qtty}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Qtty {$fielddispclass_Qtty}">
			{$Qtty_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Qtty {$fielddispclass_Qtty}">
			{$Qtty_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Qtty_fieldblock}
	{BEGIN UnitOrBucket_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_UnitOrBucket {$fielddispclass_UnitOrBucket}">
				Unit Or Bucket
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_UnitOrBucket {$fielddispclass_UnitOrBucket}">
			<input type="checkbox" {$UnitOrBucket_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_UnitOrBucket {$fielddispclass_UnitOrBucket}">
			{$searchtype_UnitOrBucket}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_UnitOrBucket {$fielddispclass_UnitOrBucket}">
			{$UnitOrBucket_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_UnitOrBucket {$fielddispclass_UnitOrBucket}">
			{$UnitOrBucket_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END UnitOrBucket_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
