<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ProdGrpCode">
	{$ProdGrpCode_editcontrol}
	</control>
	<control 
	field="ProdThaiName">
	{$ProdThaiName_editcontrol}
	</control>
	<control 
	field="ProdEngName">
	{$ProdEngName_editcontrol}
	</control>
	<control 
	field="Picture">
	{$Picture_editcontrol}
	</control>
	<control 
	field="ThaiModel">
	{$ThaiModel_editcontrol}
	</control>
	<control 
	field="EngModel">
	{$EngModel_editcontrol}
	</control>
	<control 
	field="MixNo">
	{$MixNo_editcontrol}
	</control>
	<control 
	field="ProdWt">
	{$ProdWt_editcontrol}
	</control>
	<control 
	field="ColorMixNo">
	{$ColorMixNo_editcontrol}
	</control>
	<control 
	field="FaceWt">
	{$FaceWt_editcontrol}
	</control>
	<control 
	field="Mold">
	{$Mold_editcontrol}
	</control>
	<control 
	field="PiecesPerMould">
	{$PiecesPerMould_editcontrol}
	</control>
	<control 
	field="ProductCost">
	{$ProductCost_editcontrol}
	</control>
	<control 
	field="PriceRetail">
	{$PriceRetail_editcontrol}
	</control>
	<control 
	field="PriceWholeSale">
	{$PriceWholeSale_editcontrol}
	</control>
	<control 
	field="ProdStockGoal">
	{$ProdStockGoal_editcontrol}
	</control>
	<control 
	field="ThaiCom">
	{$ThaiCom_editcontrol}
	</control>
	<control 
	field="EngCom">
	{$EngCom_editcontrol}
	</control>
	<control 
	field="Status">
	{$Status_editcontrol}
	</control>
	<control 
	field="MoldWt">
	{$MoldWt_editcontrol}
	</control>
	<control 
	field="GrayWtMold">
	{$GrayWtMold_editcontrol}
	</control>
	<control 
	field="ColorWtMold">
	{$ColorWtMold_editcontrol}
	</control>
	<control 
	field="Length">
	{$Length_editcontrol}
	</control>
	<control 
	field="Width1">
	{$Width1_editcontrol}
	</control>
	<control 
	field="Thickness">
	{$Thickness_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
