<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterlistheader" {$brickclass_masterlistheader}><span><b><span dir="LTR">Products: [{$showKeys}]</span></b></span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



	<table class="runner-c runner-c-mastergrid runner-b-masterlistfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Prod Grp Code</th>
			<th class="runner-cc ">Prod Thai Name</th>
			<th class="runner-cc ">Prod Eng Name</th>
			<th class="runner-cc ">Picture</th>
			<th class="runner-cc ">Thai Model</th>
			<th class="runner-cc ">Eng Model</th>
			<th class="runner-cc ">Mix No</th>
			<th class="runner-cc ">Prod Wt</th>
			<th class="runner-cc ">Color Mix No</th>
			<th class="runner-cc ">Face Wt</th>
			<th class="runner-cc ">Mold</th>
			<th class="runner-cc ">Pieces Per Mould</th>
			<th class="runner-cc ">Product Cost</th>
			<th class="runner-cc ">Price Retail</th>
			<th class="runner-cc ">Price Whole Sale</th>
			<th class="runner-cc ">Prod Stock Goal</th>
			<th class="runner-cc ">Thai Com</th>
			<th class="runner-cc ">Eng Com</th>
			<th class="runner-cc ">Status</th>
			<th class="runner-cc ">Mold Wt</th>
			<th class="runner-cc ">Gray Wt Mold</th>
			<th class="runner-cc ">Color Wt Mold</th>
			<th class="runner-cc ">Length</th>
			<th class="runner-cc ">Width1</th>
			<th class="runner-cc ">Thickness</th>
			<th class="runner-cc runner-clast">Prod No</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$ProdGrpCode_mastervalue}</td>
			<td class="runner-cc ">{$ProdThaiName_mastervalue}</td>
			<td class="runner-cc ">{$ProdEngName_mastervalue}</td>
			<td class="runner-cc ">{$Picture_mastervalue}</td>
			<td class="runner-cc ">{$ThaiModel_mastervalue}</td>
			<td class="runner-cc ">{$EngModel_mastervalue}</td>
			<td class="runner-cc ">{$MixNo_mastervalue}</td>
			<td class="runner-cc ">{$ProdWt_mastervalue}</td>
			<td class="runner-cc ">{$ColorMixNo_mastervalue}</td>
			<td class="runner-cc ">{$FaceWt_mastervalue}</td>
			<td class="runner-cc ">{$Mold_mastervalue}</td>
			<td class="runner-cc ">{$PiecesPerMould_mastervalue}</td>
			<td class="runner-cc ">{$ProductCost_mastervalue}</td>
			<td class="runner-cc ">{$PriceRetail_mastervalue}</td>
			<td class="runner-cc ">{$PriceWholeSale_mastervalue}</td>
			<td class="runner-cc ">{$ProdStockGoal_mastervalue}</td>
			<td class="runner-cc ">{$ThaiCom_mastervalue}</td>
			<td class="runner-cc ">{$EngCom_mastervalue}</td>
			<td class="runner-cc ">{$Status_mastervalue}</td>
			<td class="runner-cc ">{$MoldWt_mastervalue}</td>
			<td class="runner-cc ">{$GrayWtMold_mastervalue}</td>
			<td class="runner-cc ">{$ColorWtMold_mastervalue}</td>
			<td class="runner-cc ">{$Length_mastervalue}</td>
			<td class="runner-cc ">{$Width1_mastervalue}</td>
			<td class="runner-cc ">{$Thickness_mastervalue}</td>
			<td class="runner-cc runner-clast">{$ProdNo_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
 




{END container_mastergrid}

</div>