<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="UnitEng">
	{$UnitEng_editcontrol}
	</control>
	<control field="Unit_LL">
	{$Unit_LL_editcontrol}
	</control>
	<control field="Unit_English_Full">
	{$Unit_English_Full_editcontrol}
	</control>
	<control field="Unit_LL_Full">
	{$Unit_LL_Full_editcontrol}
	</control>
	<control field="Unit_Type_English">
	{$Unit_Type_English_editcontrol}
	</control>
	<control field="Rel_to_Base">
	{$Rel_to_Base_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>